.header-area .scroll-icon .mouse {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary);
}

.header-area .scroll-icon .mouse:hover .wheel {
    background-color: var(--primary-hover);
    /* border-color: var(--primary-hover); */

}

.header-area .scroll-icon .mouse:hover {
    border-color: var(--primary-hover);
}

.section-about--img:before {
    background-color: var(--primary);
}

.section-about--img:after {
    border-color: var(--primary) !important;
}

.progress-bar {
    background-color: var(--primary) !important;
    background: linear-gradient(to bottom left, var(--seconder), var(--primary));

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.progress-bar:hover {
    background-color: var(--primary-hover) !important;
    background: linear-gradient(to bottom left, var(--seconder-hover), var(--primary-hover));
}

.badge {
    background: var(--primary);
    background: -webkit-linear-gradient(to bottom left, var(--primary), var(--seconder));
    background: linear-gradient(to bottom left, var(--seconder), var(--primary));

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.badge:hover {
    background: var(--primary-hover);
    background: -webkit-linear-gradient(to bottom left, var(--primary-hover), var(--seconder-hover));
    background: linear-gradient(to bottom left, var(--seconder-hover), var(--primary-hover));
}

.services-list-back {
    background: var(--primary);
    background: -webkit-linear-gradient(to bottom left, var(--seconder), var(--primary));
    background: linear-gradient(to bottom left, var(--primary), var(--seconder));

}

.contact-details--icon {
    box-shadow: 0 0px 0px 10px rgba(192, 184, 185, 0.18);
    background: var(--primary);
    background: -webkit-linear-gradient(to bottom left, var(--seconder), var(--primary));
    background: linear-gradient(to bottom left, var(--primary), var(--seconder));

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

}

.contact-details--icon {
    background: var(--primary-hover);
    background: -webkit-linear-gradient(to bottom left, var(--seconder-hover), var(--primary-hover));
    background: linear-gradient(to bottom left, var(--primary-hover), var(--seconder-hover));

}

#contact-nav .active {
    background: var(--primary);
    box-shadow: 1px 8px 8px 0 rgba(136, 134, 134, 0.349);
}


.table-custom, .table-custom>td, .table-custom>th {
    background-color: var(--three);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.table-hover .table-custom:hover {
    background-color: var(--four-hover);
}

.table-hover .table-custom:hover>td, .table-hover .table-custom:hover>th {
    background-color: var(--four-hover);

}

.hire, .btn-custom {
    background-color: var(--primary);
    border-color: var(--primary);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.work {

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.work:hover, .hire:hover {
    color: var(--white);
}

.work:hover, .hire:hover, .btn-custom:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-custom.focus, .btn-custom:focus {
    box-shadow: 0 0 0 .2rem var(--boxShadow);
}

.btn-custom.disabled, .btn-custom:disabled {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-custom:not(:disabled):not(.disabled).active, .btn-custom:not(:disabled):not(.disabled):active, .show>.btn-custom.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-custom:not(:disabled):not(.disabled).active:focus, .btn-custom:not(:disabled):not(.disabled):active:focus, .show>.btn-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem var(--boxShadow)
}

.btn-outline-custom {
    background-color: transparent;
    background-image: none;
    border-color: var(--primary);

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

}

.btn-outline-custom:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-outline-custom.focus, .btn-outline-custom:focus {
    box-shadow: 0 0 0 .2rem var(--boxShadow)
}

.btn-outline-custom.disabled, .btn-outline-custom:disabled {
    color: var(--primary);
    background-color: transparent
}

.btn-outline-custom:not(:disabled):not(.disabled).active, .btn-outline-custom:not(:disabled):not(.disabled):active, .show>.btn-outline-custom.dropdown-toggle {

    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-custom:not(:disabled):not(.disabled).active:focus, .btn-outline-custom:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem var(--boxShadow)
}

.badge-custom {
    background-color: var(--primary);

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.badge-custom:hover {
    background-color: var(--primary)
}

.badge-custom[href]:focus, .badge-custom[href] {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.badge-custom[href]:focus, .badge-custom[href]:hover {
    color: var(--primary-hover);
    text-decoration: none;
    background-color: var(--primary-hover)
}

.alert-custom {
    color: var(--primary);
    background-color: var(--seconder);
    border-color: var(--three)
}

.alert-custom:hover {
    color: var(--primary-hover);
    background-color: var(--seconder-hover);
    border-color: var(--three-hover)
}

.alert-custom hr {
    border-top-color: var(--four)
}

.alert-custom .alert-link {
    color: var(--seconder);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.alert-custom .alert-link:hover {
    color: var(--seconder-hover)
}

.list-group-item-custom {
    color: var(--seconder);
    background-color: var(--three)
}

.list-group-item-custom.list-group-item-action:focus, .list-group-item-custom.list-group-item-action {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.list-group-item-custom.list-group-item-action:focus, .list-group-item-custom.list-group-item-action:hover {
    color: var(--seconder-hover);
    background-color: var(--four)
}

.list-group-item-custom.list-group-item-action.active {
    color: var(--primary);
    background-color: var(--seconder);
    border-color: var(--seconder)
}

.bg-custom {
    background-color: var(--primary) !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a.bg-custom:focus, a.bg-custom:hover, button.bg-custom:focus, button.bg-custom:hover {
    background-color: var(--primary-hover) !important
}

.border-custom {
    border-color: var(--primary) !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.border-custom:hover {
    border-color: var(--primary-hover) !important
}

.text-custom {
    color: var(--primary) !important
}

.text-custom:hover {
    color: var(--primary-hover) !important
}

a.text-custom:focus, a.text-custom:hover {
    color: var(--seconder-hover) !important
}

::-moz-selection {
    background-color: var(--primary)
}

::selection {
    background-color: var(--primary)
}

a {
    color: var(--primary);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a:hover {
    color: var(--primary-hover)
}

.btn.button-scheme {
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.btn.button-scheme:hover {
    background-color: var(--primary-hover) !important;
    border: 1px solid var(--primary-hover) !important
}

.btn.button-scheme:focus {
    box-shadow: none !important;
    border-color: var(--primary) !important;
    background-color: var(--primary) !important
}

.btn.button-outline {
    background-color: transparent !important;
    border: 1px solid var(--primary) !important;
    transition: all 0.5s;
    alls-webkit-transition: all;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.btn.button-outline:hover {
    background-color: var(--primary-hover) !important;
    color: var(--white);
}

.btn.button-outline:focus {
    box-shadow: none !important;
    border-color: var(--primary) !important;
    background-color: var(--seconder) !important;
    color: var(--white);

}

.navbar.scrolled.navbar-dark .navbar-nav .active>.nav-link, .navbar.scrolled.navbar-dark .navbar-nav .nav-link.active, .navbar.scrolled.navbar-dark .navbar-nav .nav-link.show, .navbar.scrolled.navbar-dark .navbar-nav .show>.nav-link {
    color: var(--primary);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.navbar.scrolled.navbar-dark .navbar-nav .active>.nav-link, .navbar.scrolled.navbar-dark .navbar-nav .nav-link.active, .navbar.scrolled.navbar-dark .navbar-nav .nav-link.show, .navbar.scrolled.navbar-dark .navbar-nav .show>.nav-link:hover {
    color: var(--primary-hover)
}

.navbar.scrolled .hamburger-inner, .navbar.scrolled .hamburger-inner::after, .navbar.scrolled .hamburger-inner::before {
    background-color: var(--primary)
}

.services-area .single-service .icon {
    color: var(--primary)
}

.portfolio-area .filter-control li.tab-active, .portfolio-area .filter-control li {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.portfolio-area .filter-control li.tab-active, .portfolio-area .filter-control li:hover {
    color: var(--seconder-hover)
}

.portfolio-area .filter-control li.tab-active:before, .portfolio-area .filter-control li:hover:before {
    background-color: var(--seconder)
}

.testimonials-area .single-review .quote-icon {
    color: var(--primary);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.testimonials-area .single-review .quote-icon:hover {
    color: var(--primary-hover)
}

.blog-area .card .card-body .post-summary .author-name {
    color: var(--primary)
}

.blog-area .card .card-body .post-summary .author-name:focus, .blog-area .card .card-body .post-summary .author-name:hover {
    color: var(--primary-hover)
}

.contact-area .contact-form .form-group .form-control:focus {
    border-bottom: 1px solid var(--seconder)
}

.contact-area .contact-info .media .info-icon .icon {
    color: var(--primary);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.contact-area .contact-info .media .info-icon .icon:hover {
    color: var(--primary-hover)
}