/*!
 * Item: iqbalhasan.dev
 * Description: Personal Portfolio HTML5 Template
 * Author/Developer: IQBAL HASAN
 * Author/Developer URL: https://iqbalhasan.dev
 * Version: v1.0.0
 */

/*=================================
            Global Css
===================================*/

p {
    color: #6e7373;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

h6 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-1 {
    margin-bottom: 1px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.bar {
    padding: 0px;
    /* margin: 0; */
    /* background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0)); */
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    width: 50px;
    content: "";
    bottom: -15px;
    background: #f47a65;
    background: -webkit-linear-gradient(to bottom left, #ff4f64, #f47a65);
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
    margin: 0 auto;
    box-shadow: 0px 10px 24px rgb(0 0 0 / 30%);
}

.error {
    color: #ff4f64;
}

/*=================================
            section Style
===================================*/

.section-light {
    background: #fff;
}

.section {
    padding: 100px 0;
    position: relative;
    background-color: #fff;
}

.section-head {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}

.section-head span {
    padding-bottom: 20px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #878d8d;
    font-weight: 600;
}

.section-head h2 {
    font-size: 36px;
    z-index: 1;
    position: relative;
    display: inline-block;
    font-weight: 700;
    padding-bottom: 0px;
    /* margin-bottom: 60px; */
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subHead {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.section-light .b-box {
    background: #F8FAFB;
}

.b-box {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    /* box-shadow: 0px 4px 8px rgb(134 151 168 / 10%); */
}

.resume-list h5 {
    font-size: 18px;
    font-weight: 500;
}

.badge {
    font-family: 'Poppins', sans-serif;
    background: #f47a65;
    background: -webkit-linear-gradient(to bottom left, #ff4f64, #f47a65);
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
    color: #fff;
}

.progress {
    height: 5px;
}

.progress-bar {
    width: 85%;
    background: #f47a65;
    background: -webkit-linear-gradient(to bottom left, #ff4f64, #f47a65);
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
    opacity: 0.8;
}

/*=================================
            Testimony
===================================*/

.section-testimony {
    padding-bottom: 80px;
}

.section-dark {
    background: #f7f7f7;
}

.section-testimony .section-head {
    margin-bottom: 20px;
}

.section-testimony .swiper-container {
    padding-top: 60px;
}

.section-testimony .swiper-container {
    padding-top: 60px;
}

.swiper-pagination {
    position: static;
}

.section-testimony .swiper-container {
    padding-top: 60px;
}

.section-testimony .section-head {
    margin-bottom: 20px;
}

.single-testimonials-in {
    max-width: 600px;
    position: relative;
    width: 100%;
    overflow: visible;
    padding-top: 40px !important;
}

/* ----------------------------------------------
*  About
/* ---------------------------------------------- */

.section-about--img {
    max-width: 380px;
    position: relative;
    margin: 0 auto;
}

.section-about--img:after {
    content: "";
    position: absolute;
    height: 150px;
    width: 120px;
    border: 3px solid #f47a65;
    border-radius: 6px;
    bottom: -30px;
    left: -30px;
    z-index: -1;
}

.section-about--img:before {
    content: "";
    height: 200px;
    width: 200px;
    display: block;
    background-color: #f47a65;
    border-radius: 3px;
    position: absolute;
    right: -30px;
    top: -30px;
    z-index: -1;
}

.about-avatar img {
    height: 160px;
    width: 160px;
    border: 2px outset #ed4242;
    padding: 10px;
}

.about-social a.downloadCV span {
    padding-left: 5px;
}

.about-desc {
    padding-right: 30px;
}

.about-desc h2 {
    font-size: 32px;
    font-weight: 700;
}

.about-desc h3 {
    font-size: 18px;
    line-height: 32px;
    margin: 0 auto;
}

.about-desc-info {
    padding-bottom: 25px;
    position: relative;
}

.about-desc-info b {
    padding-right: 10px;
}

.about-desc-info span, .about-desc-info a {
    font-size: 14px;
    color: #5F6F81;
}

.about-desc-info a {
    text-decoration: underline;
}

.about-desc-info a:hover {
    text-decoration: none;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.section-about {
    margin: 0 auto;
    z-index: 100;
    position: relative;
}

.about-desc-content {
    max-width: 500px;
}

.about-desc-social li {
    margin-right: 15px !important;
    display: inline-block;
}

.about-desc-social li a {
    display: block;
    text-align: center;
    border: 1px solid #dee2e6;
    color: #333;
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 50px;
    overflow: hidden;
}

.about-desc-social li a:hover {
    color: #333;
}

.about-desc-social li a i {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

/* social icon */

.twitter {
    background-color: #1da1f2
}

.twitter:focus, .twitter:hover {
    background-color: #0d8cda
}

.instagram {
    background-color: #c32361
}

.instagram:focus, .instagram:hover {
    background-color: #a01d50
}

.linkedin {
    background-color: #0077b5
}

.linkedin:focus, .linkedin:hover {
    background-color: #005c8c
}

.youtube {
    background-color: #c33a38
}

.youtube:focus, .youtube:hover {
    background-color: #a3312f
}

.github {
    background-color: #6e5494
}

.github:focus, .github:hover {
    background-color: #5b457a
}

.facebook {
    background-color: #3b5998
}

.facebook:focus, .facebook:hover {
    background-color: #30487b
}

.dribbble {
    background-color: #c32361
}

.dribbble:focus, .dribbble:hover {
    background-color: #a01d50
}

/* ----------------------------------------------
* 8. Services
/* ---------------------------------------------- */

.section-services {
    padding-bottom: 80px
}

.services-list-icon {
    font-size: 30px;
    position: relative;
    color: #fff;
}

.services-flip {
    display: flex;
    min-height: 270px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    width: 100%;
    height: 100%;
}

.services-flip:hover .services-list {
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
    -moz-transform: rotate3d(1, 0, 0, 180deg);
    -ms-transform: rotate3d(1, 0, 0, 180deg);
    -o-transform: rotate3d(1, 0, 0, 180deg);
    transform: rotate3d(1, 0, 0, 180deg);
}

.services-list {
    position: relative;
    transition-property: box-shadow, -webkit-transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-transform;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    -ms-transform-style: inherit;
    -o-transform-style: inherit;
    transform-style: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    -o-perspective: inherit;
    perspective: inherit;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}

.services-list h5 {
    font-size: 20px;
    font-weight: 500;
}

.flip-content {
    -webkit-transform: translate3d(0, 0, 60px) scale(0.85);
    -moz-transform: translate3d(0, 0, 60px) scale(0.85);
    -ms-transform: translate3d(0, 0, 60px) scale(0.85);
    -o-transform: translate3d(0, 0, 60px) scale(0.85);
    transform: translate3d(0, 0, 60px) scale(0.85);
}

.services-list-front {
    background-color: transparent;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    -ms-transform-style: inherit;
    -o-transform-style: inherit;
    transform-style: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    -o-perspective: inherit;
    perspective: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.services-list-front:before {
    right: 0;
    content: "";
    position: absolute;
    background: #000;
    left: 0;
    height: 100%;
    opacity: 0.2;
}

.services-list-front h5 {
    padding: 11px 20px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

.services-list-back {
    -webkit-transform: rotateY(-180deg) rotateZ(-180deg);
    -moz-transform: rotateY(-180deg) rotateZ(-180deg);
    -ms-transform: rotateY(-180deg) rotateZ(-180deg);
    -o-transform: rotateY(-180deg) rotateZ(-180deg);
    transform: rotateY(-180deg) rotateZ(-180deg);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
    z-index: 1;
    background: #f47a65;
    background: -webkit-linear-gradient(to bottom left, #ff4f64, #f47a65);
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    -ms-transform-style: inherit;
    -o-transform-style: inherit;
    transform-style: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    -o-perspective: inherit;
    perspective: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%
}

.services-list-back {
    -webkit-transform: rotateY(-180deg) rotateZ(-180deg);
    -moz-transform: rotateY(-180deg) rotateZ(-180deg);
    -ms-transform: rotateY(-180deg) rotateZ(-180deg);
    -o-transform: rotateY(-180deg) rotateZ(-180deg);
    transform: rotateY(-180deg) rotateZ(-180deg);
}

.services-list-back h5, .services-list-back p {
    color: #fff;
}

/*
.services-list-1 {
    background-image: url("../images/services1.jpg");
}

.services-list-2 {
    background-image: url("../images/services2.jpg");
}

.services-list-3 {
    background-image: url("../images/services3.jpg");
}

.services-list-4 {
    background-image: url("../images/services4.jpg");
}

.services-list-5 {
    background-image: url("../images/services5.jpg");
}

.services-list-6 {
    background-image: url("../images/services6.jpg");
} */

/* ----------------------------------------------
* 12. Blog
/* ---------------------------------------------- */

.blog-duration {
    font-size: 14px;
}

.blog-by {
    background: #fff;
    color: #333;
    font-size: 14px;
    padding: 5px 15px;
    letter-spacing: 1px;
    border-radius: 2px;
}

.blog-list {
    max-width: 350px;
}

.blog-list--img {
    position: relative;
}

.blog-list--img img {
    height: 230px;
    object-fit: cover;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.blog-list--desc p {
    font-weight: 500;
}

.blog-list--desc span {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
}

.blog-list--details {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.blog-list:hover .blog-list--details {
    opacity: 1;
    visibility: visible;
}

.blog-list:hover .blog-list--details-in {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.blog-list:hover .blog-list--img img, .blog-list:hover .blog-list--img .blog-list--details {
    transform: translateY(-5px);
}

.blog-list--details-in {
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.swiper-progressbar {
    position: relative;
    margin-top: 30px;
    background: #e9ecef;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #f47a65;
    background: -webkit-linear-gradient(to bottom left, #ff4f64, #f47a65);
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
}

.section-blog {
    padding-bottom: 70px;
}

.list-items-container {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.list-items-container .list-item {
    display: block;
    list-style: outside none none;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 33.3%;
}

.blogFilter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogFilter li {
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

.blogFilter li.active {
    color: #ff4f64;
}

.blog-cat {
    text-transform: capitalize;
}

.blog-detail {
    padding-bottom: 50px;
}

.blog-detail-contents {
    max-width: 800px;
    margin: -100px auto 0;
    background: #fff;
    display: block;
    padding: 30px;
    z-index: 11;
    position: relative;
    border-radius: 10px;
}

.blog-detail-contents h2 {}

h4.media-heading {
    font-size: 16px;
    font-weight: 700;
}

.blog-detail-content h4 {
    margin: 15px 0;
}

.blog-detail-content p {
    margin: 15px 0;
}

.blog-detail-content blockquote {
    font-size: 14px;
    background: #f9f9f9;
    border-color: #fd735a;
    padding: 5px 10px;
    border-radius: 4px;
    border-left: 5px solid #fd735a;
}

.blog-detail-content img {
    width: 100%;
    margin: 15px 0;
    height: 350px;
    object-fit: cover;
}

.blog-detail-about .media-body {
    width: auto;
}

.blog-detail-about .media-body p {
    margin: 0;
    font-size: 12px;
}

.blog-detail-about .media {
    margin-bottom: 20px;
}

.blog-detail-about img.media-object {
    border-radius: 5px;
    height: 60px;
    width: 60px;
}

.media-body, .media-left, .media-right {
    vertical-align: middle;
}

.blog-detail-category {
    padding: 3px 15px;
    color: #fff;
    text-transform: capitalize;
    background: #fd735a;
    border-radius: 2px;
    margin: 15px 0;
}

.blog-detail-banner img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.blog-detail-tags ul {
    margin: 0;
    padding: 0;
}

.blog-detail-tags ul li {
    display: inline-block;
}

.tags {
    display: inline-block;
    padding: 4px 10px;
    background-color: #f7f7f7;
    color: #333;
    margin-right: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 14px;
}

.tags:hover {
    background-color: #fd735a;
    color: #fff;
}

.blog-detail-sib {
    padding: 40px 0 20px;
}

.blog-detail-sib .blog-nav span {
    display: block;
    color: #333;
    font-size: 14px;
}

.blog-detail-sib .blog-nav p {
    font-size: 16px;
    color: #333;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.blog-nav {
    padding: 10px;
    background: #f7f7f7;
    transition: all 125ms ease-in-out 0s;
    display: block;
    border-radius: 3px;
    margin-bottom: 15px;
}

.blog-nav:hover {
    background: #fd735a;
    color: #fff;
}

.blog-nav:hover p, .blog-nav:hover span {
    color: #fff;
}

.blog-viewMore {
    margin-top: 50px;
}

/* ----------------------------------------------
* 13. Contact
/* ---------------------------------------------- */

.section-contact {
    padding-bottom: 30px !important;
}

.contact-map--container {
    height: 450px;
    overflow: hidden;
}

.contact-details--panel {
    padding-top: 60px !important;
    margin-top: 60px;
    position: relative;
    background: #fff;
    overflow: visible;
}

.contact-details--panel i {
    font-size: 30px;
    line-height: 70px;
    color: #fff;
}

.contact-details--panel a {
    font-size: 16px;
    font-weight: 500;
    color: #6e7373;
    text-decoration: underline;
}

.contact-details--panel a:hover {
    text-decoration: none;
}

.contact-details--panel p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

.contact-details--icon {
    display: inline-block;
    height: 70px;
    width: 70px;
    box-shadow: 0 0px 0px 10px rgba(255, 79, 100, 0.18);
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -35px;
    position: absolute;
    background: #f47a65;
    background: -webkit-linear-gradient(to bottom left, #ff4f64, #f47a65);
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
    margin: 0 auto;
}

.form-control {
    padding: 12px 15px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.section-contact .section-subHead {
    margin: 0;
}

#contact-nav {
    margin: 50px auto;
}

.contact-nav-link {
    padding: 20px 25px;
    /*display: flex;
    */
    /*flex-flow: row wrap;
    */
    /*align-items: center;
    */
    /*justify-content: center;
    */
    text-align: center;
    min-height: 130px;
    min-width: 160px;
    background: #fff;
    box-shadow: 0 8px 25px 0 rgb(109 122 168 / 15%);
    padding: 20px 18px;
    border-radius: 5px;
    margin-right: 14px;
    font-size: 15px;
    color: #637178;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border: 1px solid rgba(189, 189, 189, 0.335);
}

.contact-nav-link:hover {
    background: rgba(243, 243, 243, 0.411);
    box-shadow: 0 8px 20px 10px rgb(221, 223, 231);
}

#contact-nav .active {
    background: #1888f5;
    box-shadow: 1px 8px 8px 0 rgb(0 0 0 / 23%);
    color: #fff;
    position: relative;
}

.contact-nav-link i {
    font-size: 25px;
    color: #bdc3c7;
}

#contact-nav .active i {
    color: #fff;
}

/* ----------------------------------------------
* 15. All Media Queries
/* ---------------------------------------------- */

@media (max-width: 991px) {
    .section {
        padding: 80px 0;
    }

    .container {
        max-width: 100%;
    }

    .page-content-wrap {
        margin-left: 0%;
        width: 100%;
        margin-top: -50px;
        position: relative;
        z-index: 1
    }

    .page-wrapper {
        width: 100%;
        margin-left: 0%;
        overflow-x: hidden;
    }

    /* .nav-wrapper .navbar-toggler {
        display: block;
    }
    .navbar-nav {
        padding-top: 10px;
        margin-top: 10px;
        position: relative;
    }
    .navbar-nav:before {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        content: "";
        top: 0;
    }
    .navbar-nav .nav-link {
        display: block;
        padding: 15px 15px 15px 0!important;
    }
    .navbar {
        padding: 15px;
    }
    .navbar-nav .nav-link:after {
        content: none;
    } */
    .list-items-container .list-item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .contact-details--panel {
        margin-bottom: 30px
    }

    .contact-form {
        margin-top: 30px !important
    }

    .contact-details {
        padding-top: 30px;
    }

    .section-resume .section-subHead {
        /*padding-top: 30px;*/
        margin: 40px 0 20px !important;
    }

    .filter a {
        font-size: 13px;
        padding: 10px 15px;
    }

    .filter li {
        font-size: 12px;
        padding: 5px;
    }

    .about-avatar img {
        height: 130px;
        width: 130px;
    }

    .section .container {
        padding: 0 15px;
    }

    .about-social li {
        margin-bottom: 15px;
    }

    .home-pagination .swiper-pagination-bullet {
        width: 30px;
    }

    .about-desc-content {
        max-width: 100%;
        margin-top: 70px;
    }

    .about-desc {
        text-align: center;
    }

    .overlay h1 {
        font-size: 7vh
    }

    .section-resume .section-head {
        margin-bottom: 30px
    }

    .swiper-button-next, .swiper-button-prev {
        width: 20px;
        height: 30px;
        background-position: center;
        background-size: 100%;
    }

    .single-testimonials-in {
        width: 90%;
    }

    .blog-list {
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
    }

    .blog-list--img img {
        height: 250px
    }

    .price-box.featured {
        transform: none;
        margin: 30px auto
    }

    .price-box {
        max-width: 400px
    }

    .list-items-container .list-item {
        width: 100%;
        margin-bottom: 0;
    }

    .blog-detail-contents {
        padding: 30px 15px;
    }

    .blog-detail-contents h2 {
        font-size: 24px;
    }
}

/* back to top */

#scrolltop {
    display: none;
}

#rocketmeluncur {
    position: fixed;
    bottom: 50px;
    z-index: 7;
    display: none;
    visibility: hidden;
    width: 26px;
    height: 48px;
    right: 25px;
    background: url('../img/rocketmeluncur.png') no-repeat 50% 0;
    opacity: 0;
    -webkit-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#rocketmeluncur i {
    display: block;
    margin-top: 48px;
    height: 14px;
    /* background: url(https://1.bp.blogspot.com/-UR9I7YEuEUY/VXIJn8MrBPI/AAAAAAAAKRE/qZObHBd5zIo/s1600/rocket.png) no-repeat 50% -48px; */
    opacity: .5;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    transition: transform .2s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0
}

#rocketmeluncur:hover {
    background-position: 50% -62px
}

#rocketmeluncur:hover i {
    background-position: 50% 100%;
    -webkit-animation: flaming .7s infinite;
    -moz-animation: flaming .7s infinite;
    animation: flaming .7s infinite
}

#rocketmeluncur.showrocket {
    visibility: visible;
    opacity: 1
}

#rocketmeluncur.launchrocket {
    background-position: 50% -62px;
    opacity: 0;
    -webkit-transform: translateY(-800px);
    -moz-transform: translateY(-800px);
    -ms-transform: translateY(-800px);
    transform: translateY(-800px);
    pointer-events: none
}

#rocketmeluncur.launchrocket i {
    background-position: 50% 100%;
    -webkit-transform: scale(1.4, 3.2);
    -moz-transform: scale(1.4, 3.2);
    transform: scale(1.4, 3.2)
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

