/*!
 * Item: iqbalhasan.dev 
 * Description: Personal Portfolio HTML5 Template
 * Author/Developer: IQBAL HASAN 
 * Author/Developer URL: https://iqbalhasan.dev
 * Version: v1.0.0
 */



:root {
    --primary: rgb(103, 16, 242);
    --seconder: rgb(82, 11, 196);
    --three: rgb(217, 195, 252);
    --four: rgb(201, 171, 250);
    --boxShadow: rgba(102, 16, 242, .5);

    --primary-hover: rgba(103, 23, 231, 0.911);
    --seconder-hover: rgba(85, 20, 189, 0.884);
    --three-hover: rgba(202, 182, 235, 0.918);
    --four-hover: rgba(201, 171, 250, 0.911);
    --white: #fff;
}