/*!
 * Item: iqbalhasan.dev 
 * Description: Personal Portfolio HTML5 Template
 * Author/Developer: IQBAL HASAN 
 * Author/Developer URL: https://iqbalhasan.dev
 * Version: v1.0.0
 */



:root {
    --primary: rgb(51, 101, 176);
    --seconder: rgb(40, 78, 136);
    --three: rgb(182, 203, 234);
    --four: rgb(162, 190, 228);
    --boxShadow: rgba(51, 101, 176, .5);

    --primary-hover: hsl(216, 55%, 45%);
    --seconder-hover: rgba(40, 78, 136, 0.897);
    --three-hover: rgba(164, 186, 219, 0.855);
    --four-hover: rgba(155, 180, 216, 0.932);
    --white: #fff;
}